* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.panel_header {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
  margin-top: 1em;
}

.logo_header {
  margin-left: 4em;
}

.tools_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2em;
}

.notification_header {
  margin-right: 3em;
}

.page_navigation {
  background-color: #964040;
  width: 15%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_navigation {
  margin-top: 2em;
  text-decoration: none;
}

.nav_ul {
  list-style: none;
}

.nav_active {
  color: black;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  transition: 0.2s ease-in-out;
}

.nav_active:hover {
  background-color: #efefef;
}

.logospace {
  margin-right: 1em;
}

.login_page {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.nav_active a {
  text-decoration: none;
  color: black;
  display: flex;
}

.nav_noactive {
  display: flex;
  color: white;
  margin-top: 2em;
  padding-left: 10px;
}

.nav_noactive a {
  text-decoration: none;
  color: white;
  display: flex;
}

.form_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  font-family: "Inter", sans-serif;
}

.logo_container {
  margin-top: 5em;
  margin-bottom: 2em;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #212121;
}

.subtitle {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #8b8e98;
}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}

.input_label {
  font-size: 0.75rem;
  color: #8b8e98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.sign-in_btn {
  width: 100%;
  height: 40px;
  border: 0;
  background: #964040;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.sign-in_btn:hover {
  color: black;
  background-color: #e0e0e0;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8b8e98;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.note {
  font-size: 0.75rem;
  color: #8b8e98;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 100%;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

.flex_table {
  display: flex;
}

.tableau {
  margin-top: 2em;
  margin-left: 2em;
  width: 80%;
}

.voir_button {
  background-color: #964040;
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 8px;
}
